<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    {{> navbar }}
    <img src="../assets/img/image1.jpg" width="300"/><br>
    Renderizando desde express ABOUT <br>
    hola {{nombre}}! es el año {{getAnio}}

    {{> footer }}

</body>

</html>